@import "./variables";
@import "./mixins";


.page_header{
    position: absolute;
    z-index: 40;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: $white;
    &.header_relative{
        position: relative;
    }
    .header_inner{
        width: 100%;
    }
    .header_container{
        display: flex;
        padding: 0 40px;
        align-items: center;
        justify-content: space-between;
    }
    .logo_block{
        height: 42px;
        width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    .header_menu{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
        li{
            margin-left: 50px;
            font-family: $semiBold;
            font-size: 18px;
            line-height: 24px;
        }
        a{
            color: $black;
            &:hover{
                color: #E33441;                
                opacity: 1;
            }
        }
    }
}