.gsap_section {
    margin-top: 39px;
    box-sizing: border-box;

    $dark-blue: #E33441;
    $animateColor: #F0961C;
    $green: red;
    $action-color: $green;

    * {
        box-sizing: border-box;
    }

    div {
        display: block;
        height: 100%;
    }

    .button {
        -webkit-font-smoothing: antialiased;
        background-color: $dark-blue;
        border: none;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: 100;
        text-decoration: none;
        user-select: none;
        letter-spacing: 1px;
        color: white;
        padding: 15px 40px;
        text-transform: uppercase;
        transition: all 0.3s ease-out;
        border-radius: 4px;
        &:hover {
            background-color: $action-color;
            color: #fff;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .button--bubble__effect-container {
        position: absolute;
        display: none;
        width: 200%;
        height: 400%;
        top: -150%;
        left: -50%;
        -webkit-filter: url("#goo");
        filter: url("#goo");
        transition: all 0.1s ease-out;
        pointer-events: none;

        .circle {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 15px;
            // background: $dark-blue;
            transition: background 0.1s ease-out;

            &.top-left {
                top: 40%;
                left: 27%;
            }

            &.bottom-right {
                bottom: 40%;
                right: 27%;
            }
        }
    }

    .goo {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .button--bubble__container {
        top: 50%;
        margin-top: -25px;
    }

    &.current4 {
        $dark-blue: #E33441;
        $animateColor: #F0961C;

        .button {
            background-color: $dark-blue;

            &--bubble {
                &:hover+.button--bubble__effect-container .circle {
                    background: darken(#F0961C, 5%) !important;
                }

                &:hover+.button--bubble__effect-container .button {
                    background: darken(#F0961C, 5%) !important;
                }

                &__container {
                    .effect-button {
                        background: #E33441 !important;
                    }
                }
            }
        }

        .button--bubble__effect-container {
            .circle {
                background: #E33441 !important;
            }
        }
    }

    &.current1 {
        $dark-blue: #E33441;
        $animateColor: #F0961C;

        .button {
            background-color: $dark-blue;

            &--bubble {
                &:hover+.button--bubble__effect-container .circle {
                    background: darken(#F0961C, 5%) !important;
                }

                &:hover+.button--bubble__effect-container .button {
                    background: darken(#F0961C, 5%) !important;
                }

                &__container {
                    .effect-button {
                        background: #E33441 !important;
                    }
                }
            }
        }

        .button--bubble__effect-container {
            .circle {
                background: #E33441 !important;
            }
        }
    }

    &.current2 {
        $dark-blue: #FFA629 !important;
        $animateColor: #014135;

        .button {
            background-color: $dark-blue;

            &--bubble {
                &:hover+.button--bubble__effect-container .circle {
                    background: darken(#014135, 5%) !important;
                }

                &:hover+.button--bubble__effect-container .button {
                    background: darken(#014135, 5%) !important;
                }

                &__container {
                    .effect-button {
                        background: #FFA629 !important;
                    }
                }
            }
        }

        .button--bubble__effect-container {
            .circle {
                background: #FFA629 !important;
            }
        }
    }

    &.current3 {
        $dark-blue: #E33441;
        $animateColor: #014135;

        .button {
            background-color: $dark-blue;

            &--bubble {
                &:hover+.button--bubble__effect-container .circle {
                    background: darken(#014135, 5%) !important;
                }

                &:hover+.button--bubble__effect-container .button {
                    background: darken(#014135, 5%) !important;
                }

                &__container {
                    .effect-button {
                        background: #E33441 !important;
                    }
                }
            }
        }

        .button--bubble__effect-container {
            .circle {
                background: #E33441 !important;
            }
        }
    }
}

@media (max-width: 1600px) {
    .gsap_section {
        margin-top: 30px;

        .button {
            padding: 10px 30px;
        }
    }
}