@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?36nvao');
    src: url('../fonts/icomoon.eot?36nvao#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?36nvao') format('truetype'),
        url('../fonts/icomoon.woff?36nvao') format('woff'),
        url('../fonts/icomoon.svg?36nvao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "PoppinsRegular";
    src: local("PoppinsRegular"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsBold";
    src: local("PoppinsBold"),
        url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "PoppSemiBold";
    src: local("PoppSemiBold"),
        url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "PoppMedium";
    src: local("PoppMedium"),
        url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "PoppinsLight";
    src: local("PoppinsLight"),
        url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 500;
}

.icon-apple:before {
    content: "\e911";
    color: #006855;
}

.icon-mail:before {
    content: "\e912";
}

.icon-pass:before {
    content: "\e913";
}

.icon-google:before {
    content: "\e914";
    color: #006855;
}

.icon-fb:before {
    content: "\e915";
    color: #006855;
}

.icon-eye:before {
    content: "\e90e";
}

.icon-card:before {
    content: "\e910";
}

.icon-star:before {
    content: "\e90d";
}

.icon-user:before {
    content: "\e90a";
}

.icon-time:before {
    content: "\e90b";
}

.icon-calendar:before {
    content: "\e90c";
}

.icon-telegram:before {
    content: "\e900";
}

.icon-linkedin:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e903";
}

.icon-tiktok:before {
    content: "\e904";
}

.icon-instagram:before {
    content: "\e907";
}

.icon-whatsapp:before {
    content: "\e909";
}

.icon-heart:before {
    content: "\e90f";
}

.icon-back:before {
    content: "\e923";
}

.icon-down:before {
    content: "\e902";
}

.icon-done:before {
    content: "\e905";
}

.icon-whatch:before {
    content: "\e906";
}

.icon-plus:before {
    content: "\e908";
}



@mixin standardList() {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@mixin slider() {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

@mixin hoverGradient() {
    transition: 0.5s !important;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5CEAD1 0%, #1F9BF2 70%, #5CEAD1 100%);

    &:hover {
        opacity: 1;
        color: #f1f1f1;
        background-position: right center;
    }
}

@mixin slide() {
    display: inline-block;
    white-space: normal;
    font-size: 1rem;
}

@mixin centerCover() {
    background-size: cover !important;
    background-position: center !important;
}

@mixin animStyle($parameters) {
    -o-transition: $parameters;
    -ms-transition: $parameters;
    -moz-transition: $parameters;
    -webkit-transition: $parameters;
    transition: $parameters;
}

@mixin animStyles($param1, $param2) {
    -o-transition: $param1, $param2;
    -ms-transition: $param1, $param2;
    -moz-transition: $param1, $param2;
    -webkit-transition: $param1, $param2;
    transition: $param1, $param2;
}

@mixin transStyle($parameters) {
    transform: $parameters;
    -moz-transform: $parameters;
    -ms-transform: $parameters;
    -webkit-transform: $parameters;
    -o-transform: $parameters;
}

@mixin torigin($parameters) {
    transform-origin: $parameters;
    -webkit-transfrom-origin: $parameters;
}

@mixin animDelay($parameters) {
    -o-transition-delay: $parameters;
    -ms-transition-delay: $parameters;
    -moz-transition-delay: $parameters;
    -webkit-transition-delay: $parameters;
    transition-delay: $parameters;
}

@mixin dropArrow() {
    color: inherit;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
}

@mixin overHidden() {
    position: relative;
    overflow: hidden;
}

@mixin psevdoAbs() {
    display: block;
    content: "";
    position: absolute;
}

@mixin maskedInput() {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}

@mixin colCount($col) {
    -moz-column-count: $col;
    -webkit-column-count: $col;
    column-count: $col;
}

@mixin colGap($gap) {
    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin hoverEffect {
    transition: 0.3s;
    opacity: 1;
    color: $red !important;

    &:hover {
        opacity: 0.5;
    }
}