$siteColor: #00457C;
$secondColor : #5CEAD1;

$white: #ffffff;
$black: #000000;
$second-color: #5CEAD1;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$red: red;

$regular: "PoppinsRegular";
$bold: "PoppinsBold";

$light: "PoppinsLight";

$medium: "PoppMedium";
$semiBold: "PoppSemiBold";

