@import "../variables";
@import "../mixins";

.home_page{
    .search_section{
        background: #C6C6C6;
    }
    .main_search{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        font-size: 18px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            color: $white;
            margin-right: 15px;
            background: red;
            padding:  0 25px;
        }
    }
}
