@import "../variables";
@import "../mixins";

.restaurants_page{
    position: relative;
    .cover_background{
        height: 354px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position:center;
        background-size: cover;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba($black, 0.2);
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    .restaurants_description{
        max-width: 930px;
        width: 100%;
        color: $white;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
    }
    .restaurants_section{
        margin: 80px 0;
    }
    .filter_block{
        border-radius: 4px;
        border: 1px solid #2E8374;
        height: 44px;
    }
    .fileter_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        .hamburger-react{
            position: relative;
            top: -2px;
        }
        span{
            margin-left: 5px;
            font-size: 16px;
            display: block;
            line-height: 24px;
            font-family: $medium;
            color: #474747;
        }
    }
    .page_title{
        color: $black;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        text-transform: capitalize;
        font-family: $medium;
    }
    .filter_container{
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 1px;
        justify-content: space-between;
    }
    .search_block{
        border-radius: 4px;
        border: 1px solid #2E8374;
        height: 44px;
        width: 100%;
        overflow: hidden;
        input{
            outline: none;
            border: none;
            font-family: $medium;
            color: #8B8B8B;
            padding: 0 20px;
            height: 100%;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
        }
    }
    .search_btn{
        border-radius: 4px;
        border: 1px solid #006855;
        height: 44px;
        overflow: hidden;
        min-width: fit-content;
        button{
            width: 160px;
            height: 100%;
            background: #006855;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;
            cursor: pointer;
            border: none;
        }
    }
    .restaurants_list{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .restaurant_block{
        width: 100%;
    }
    .block_image{
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    .rest_name{
        margin-top: 10px;
        font-size: 18px;
        line-height: 26px;
        font-family: $medium;
        color: #202020;
    }
    .rest_description{
        font-size: 16px;
        line-height: 22px;
        margin-top: 8px;
        color: #202020;
    }
    .rest_rate{
        margin-left: -2px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        >span{
            display: block;
            margin-left: 2px;
            font-size: 20px;
            color: #F0961C;
        }
    }
    .infowindow{
        .info_name{
            font-family: $bold;
            font-size: 16px;
            line-height: 21px;
            font-family: $medium;
            color: #202020;
            margin-bottom: 10px;
        }
    }
    .map_section{
        height: 600px;
    }
    @media (max-width: 1440px) {
        .map_section{
            height: 400px;
        }
    }
    @media (max-width: 1199px) {
        .map_section{
            height: 400px;
        }
        .restaurants_description {
            max-width: 850px;
            font-size: 16px;
            line-height: 32px;
        }
        .cover_background {
            height: 290px;
        }
        .restaurants_section {
            margin: 60px 0;
        }
        .page_title {
            font-size: 28px;
            line-height: 33px;
        }
        .filter_container {
            margin-top: 45px;
        }
    }
    @media (max-width: 991px) {
        .restaurants_list {
            margin-top: 40px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (max-width: 767px) {
        .fileter_btn {
            padding: 0 10px;
        }
        .search_btn button {
            width: 100px;
            font-size: 14px;
            line-height: 24px;
        }
        .search_block input {
            padding: 0 15px;
            font-size: 14px;
            line-height: 24px;
        }
        .rest_name {
            margin-top: 10px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    @media (max-width: 575px) {
        .restaurants_description {
            font-size: 14px;
            line-height: 26px;
        }
        .restaurants_section {
            margin: 40px 0;
        }
        .page_title {
            font-size: 24px;
            line-height: 30px;
        }
        .filter_container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            > div{
                width: 100%;
                margin-bottom: 10px;
                button{
                    width: 100%;
                }
            }
        }
        .restaurants_list {
            margin-top: 30px;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        .rest_name {
            margin-top: 5px;
            font-size: 14px;
            line-height: 18px;
            // min-height: 36px;
        }
        .rest_description {
            font-size: 12px;
            line-height: 17px;
            margin-top: 5px;
        }
        .rest_rate > span {
            font-size: 14px;
        }
    }
}

