@import "../variables";
@import "../mixins";




.regular{
    font-size: 16px;
    line-height: 21px;
    font-family: $regular;
}


.bold{
    font-size: 16px;
    line-height: 21px;
    font-family: $bold;
}

.light{
    font-size: 16px;
    line-height: 21px;
    font-family: $light;
}

.medium{
    font-size: 16px;
    line-height: 21px;
    font-family: $medium;
}

.semibold{
    font-size: 16px;
    line-height: 21px;
    font-family: $semiBold;
}
