@import "../variables";
@import "../mixins";

.welcome_page {
  overflow: hidden;
  position: relative;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
  height: 100%;
}

.bonapp_slider .each-slide {
  padding-top: 150px;
  height: 100%;
  background-size: cover;
}

.slide_background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slide_description {
  max-width: 800px;
  text-align: center;
  color: rgba($white , 0.6);
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
}

.navigation_circle {
  position: absolute;
  bottom: 0;
  z-index: 50;
  border-radius: 50%;
  height: 50vw;
  width: 50vw;
  bottom: -28vw;
  left: 50%;
  transform: translate(-50%, 0%);
  button {
    color: $white;
    font-weight: 700;
    position: relative;
    font-size: 18px;
    letter-spacing: 2px;
    background: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    opacity: 0.5;
    &.active{
      opacity: 1;
    }
  }
  span {
    position: relative;
    padding: 2px;
    display: block;

    &:nth-child(1) {
      top: 3px;
      transform: rotate(-7deg);
    }

    &:nth-child(2) {
      top: 1px;
      transform: rotate(-5deg);
    }

    &:nth-child(3) {
      top: 1px;
      transform: rotate(0deg);
    }

    &:nth-child(4) {
      top: 1px;
      transform: rotate(4deg);
    }

    &:nth-child(5) {
      top: 2px;
      transform: rotate(4deg);
    }

    &:nth-child(6) {
      top: 4px;
      transform: rotate(7deg);
    }

    &:nth-child(7) {
      top: 6px;
      transform: rotate(9deg);
    }

    &:nth-child(8) {
      top: 9px;
      transform: rotate(11deg);
    }

    &:nth-child(9) {
      top: 13px;
      transform: rotate(14deg);
    }

    &:nth-child(10) {
      top: 19px;
      transform: rotate(21deg);
    }
  }
}

.navigation_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigate-1 {
  transform: rotate(-54deg);
  top: 150px;
  left: -30px;
}

.navigate-2 {
  transform: rotate(-23deg);
  top: -52px;
  left: -35px;
}

.navigate-3 {
  transform: rotate(27deg);
  top: -35px;
  left: 100px;
}

.navigate-4 {
  transform: rotate(52deg);
  top: 153px;
  left: 76px;
}


.progress_nav {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border: 1px solid rgba($white , 0.6);
  border-radius: 50%;
  height: 55vw;
  width: 55vw;
  bottom: -31.5vw;
  left: 50%;
  transition: 0.5s ease;

  span {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: -12.5px;
    width: 25px;
    height: 25px;
    background: $white;
    border-radius: 50%;
    display: block;
  }
}

.decor_line {
  position: absolute;
  bottom: 0;
  z-index: 51;
  border: 1px solid rgba($white , 0.4);
  border-radius: 50%;
  height: 50vw;
  width: 50vw;
  bottom: -28.7vw;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%, 0%);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.each-slide>div {
  width: auto !important;
}

.circle_images {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border-radius: 50%;
  height: 46vw;
  width: 46vw;
  bottom: -27vw;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, 0%);

  img {
    width: 100%;
  }

}

.decor_list {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  li {
    position: absolute;
    transition: 0.3s;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
    }

    &.rotate {
      animation: rotate 7s infinite;
    }

    &.movingRv {
      animation: movingRv 4s infinite;
      animation-timing-function: cubic-bezier(0.98, 1, 0.01, 0);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes movingRv {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-15deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(15deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  li:first-child {
    width: 20%;
    top: 15%;
    left: 2%;
  }

  li:nth-child(2) {
    width: 12%;
    bottom: 6%;
    right: 6%;
  }

  li:nth-child(3) {
    width: 10%;
    top: 21.02%;
    left: 75.94%;
  }

  li:nth-child(4) {
    width: 10%;
    bottom: 15%;
    left: 8%;
  }

  &.position-top {
    li:first-child {
      width: 15%;
      top: 8%;
      left: 2%;
    }

    li:nth-child(2) {
      width: 16%;
      bottom: 9%;
      right: 4%;
    }

    li:nth-child(3) {
      width: 15%;
      top: 18%;
      left: 70%;
    }

    li:nth-child(4) {
      width: 12%;
      bottom: 10%;
      left: 5%;
    }
  }
}

.slide_list {
  width: 100%;
  height: 100vh;
  position: relative;

  >.each-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding-top: 160px;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;

    &.current_slider {
      opacity: 1;
      transition: 0.3s ease;
      pointer-events: all;
    }
  }
}

$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }

  10% {
    left: 0%;
    transform: rotate(0deg);
  }

  20% {
    width: 0%;
    left: 20%;
  }

  30% {
    width: 25%;
  }

  50% {
    left: 15%;
    width: 35%;
  }

  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }

  90% {
    width: 30%;
    left: 10%;
  }

  100% {
    width: 15%;
    left: 20%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }

  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }

  50% {
    width: 40%;
    left: 20px;
  }

  100% {
    width: 30%;
  }
}

.loader_section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgb(5, 11, 49);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  margin: 30px;
  position: relative;
  z-index: 9;
  top: -70px;

  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }

  .pan-container {
    display: flex;
    width: 100%;
    animation: pan $timing infinite;
  }

  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}