@import "../variables";
@import "../mixins";

.welcome_page {
  overflow: hidden;
  position: relative;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
  height: 100%;
}

.bonapp_slider .each-slide {
  padding-top: 188px;
  height: 100%;
  background-size: cover;
}

.slide_background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.slide_titile{
  font-size: 32px;
  line-height: 45px;
  font-family: $semiBold;
  color: $white;
  text-align: center;
}
.slide_description {
  text-align: center;
  color: $white;
  font-size: 18px;
  font-family: $regular;
  line-height: 36px;
  margin-top: 29px;
}

.navigation_circle {
  position: absolute;
  bottom: 0;
  z-index: 50;
  border-radius: 50%;
  height: 62vw;
  width: 62vw;
  bottom: -31vw;
  left: 50%;
  transform: translate(-50%, 0%);
  .nav_circle_line{
    width: 100%;
    height: 100%;
    svg{
      width: 100%;
      height: 100%;
    }
    path{
      width: 100%;
      height: 100%;
    }
    .text{
      fill: $white;
      font-weight: 700;
      position: relative;
      font-size: 8px;
      letter-spacing: 2px;
      background: transparent;
      border: none;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      &:hover{
        fill: #FFA629;
      }
      &.active{
        opacity: 1;
        fill: #FFA629;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}

.progress_nav {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border: 1px solid rgba($white , 0.6);
  border-radius: 50%;
  height: 44vw;
  width: 44vw;
  bottom: -22vw;
  left: 50%;
  transition: 0.5s ease;

  span {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: -12.5px;
    width: 25px;
    height: 25px;
    background: $white;
    border-radius: 50%;
    display: block;
  }
  
}

.decor_line {
  position: absolute;
  bottom: 0;
  z-index: 51;
  border: 1px solid rgba($white , 0.3);
  border-radius: 50%;
  height: 41vw;
  width: 41vw;
  bottom: -20.5vw;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%, 0%);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.current_page_href{
  cursor: pointer;
  font-size: 0;
  position: absolute;
  display: block;
  left: 35px;
  top: 35px;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.each-slide>div {
  width: auto !important;
}

.currentHovered .circle_images{
  opacity: 0.7;
}
.circle_images {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border-radius: 50%;
  height: 39vw;
  width: 47vw;
  bottom: -19.5vw;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, 0%);

  img {
    width: 100%;
  }

}

.decor_list {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  li {
    position: absolute;
    transition: 0.3s;
    pointer-events: none;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &.restaurant_list{
    li:first-child {
      bottom: 2rem;
      left: 4rem;
    }
    li:nth-child(2) {
      bottom: 11rem;
      left: 21rem;
    }
    li:nth-child(3) {
      top: 24rem;
      left: 26rem;
    }
    li:nth-child(4) {
      top: 16rem;
      left: 7rem;
    }
    li:nth-child(5) {
      bottom: 1rem;
      right: 5rem;
    }
    li:nth-child(6) {
      bottom: 17rem;
      right: 15rem;
    }
    li:nth-child(7) {
      top: 16rem;
      right: 3rem;
    }
  }
  &.cafe_list{
    li:first-child {
      bottom: 3rem;
      left: 5rem;
    }
    li:nth-child(2) {
      bottom: 8rem;
      left: 8rem;
    }
    li:nth-child(3) {
      bottom: 16rem;
      left: 24rem;
    }
    li:nth-child(4) {
      bottom: 17rem;
      left: 1rem;
    }
    li:nth-child(5) {
      bottom: 26rem;
      left: 25rem;
    }
    li:nth-child(6) {
      top: 14rem;
      left: 3rem;
    }
    li:nth-child(7) {
      right: 6rem;
      bottom: 5rem;
    }
    li:nth-child(8) {
      bottom: 10rem;
      right: 8rem;
    }
    li:nth-child(9) {
      right: 15rem;
      bottom: 13rem;
    }
    li:nth-child(10) {
      right: 13rem;
      top: 28rem;
    }
    li:nth-child(11) {
      top: 14rem;
      right: 3rem;
    }
  }
  &.food_list{
    li:first-child {
      bottom: 6rem;
      left: 10rem;
    }
    li:nth-child(2) {
      bottom: 18rem;
      left: 3rem;
    }
    li:nth-child(3) {
      bottom: 23rem;
      left: 27rem;
    }
    li:nth-child(4) {
      bottom: 28rem;
      left: 6rem;
    }
    li:nth-child(5) {
      bottom: 6rem;
      right: 8rem;
    }
    li:nth-child(6) {
      bottom: 22rem;
      right: 27rem;
      transform: rotate(266deg);
    }
    li:nth-child(7) {
      right: 13rem;
      bottom: 27rem;
    }
    li:nth-child(8) {
      top: 14rem;
      right: 4rem;
      transform: rotate(230deg);
      scale: 0.8;
    }
  }
  &.bar_list{
    li:first-child {
      bottom: 5rem;
      left: 10rem;
    }
    li:nth-child(2) {
      bottom: 20rem;
      left: 22rem;
    }
    li:nth-child(3) {
      top: 16rem;
      left: 7rem;
    }
    li:nth-child(4) {
      bottom: 4rem;
      right: 8rem;
    }
    li:nth-child(5) {
      bottom: 22rem;
      right: 24rem;
    }
    li:nth-child(6) {
      bottom: 34rem;
      right: 8rem;
      transform: rotate(300deg);
    }
  }
}

.slide_list {
  width: 100%;
  height: 100vh;
  position: relative;

  >.each-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding-top: 160px;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    background-size: cover !important;
    &.current_slider {
      opacity: 1;
      transition: 0.3s ease;
      pointer-events: all;
    }
  }
}

$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }

  10% {
    left: 0%;
    transform: rotate(0deg);
  }

  20% {
    width: 0%;
    left: 20%;
  }

  30% {
    width: 25%;
  }

  50% {
    left: 15%;
    width: 35%;
  }

  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }

  90% {
    width: 30%;
    left: 10%;
  }

  100% {
    width: 15%;
    left: 20%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }

  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }

  50% {
    width: 40%;
    left: 20px;
  }

  100% {
    width: 30%;
  }
}

.loader_section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgb(5, 11, 49);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  margin: 30px;
  position: relative;
  z-index: 9;
  top: -70px;

  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }

  .pan-container {
    display: flex;
    width: 100%;
    animation: pan $timing infinite;
  }

  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}


// @media (max-width: 1600px) {
    
// } 



