@import "../variables";

.welcome_page {
  overflow: hidden;
  // position: relative;
  background: #006855;
  // margin-top: -80px;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
  height: 100%;
}

.bonapp_slider .each-slide {
  // padding-top: 188px;
  height: 100%;
  background-size: cover;
}

.slide_background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slide_titile {
  font-size: 32px;
  line-height: 45px;
  font-family: $semiBold;
  color: $white;
  text-align: center;
}

.slide_description {
  text-align: center;
  color: $white;
  font-size: 18px;
  font-family: $regular;
  line-height: 36px;
  margin-top: 29px;
}

.navigation_circle {
  position: absolute;
  bottom: 0;
  z-index: 50;
  border-radius: 50%;
  height: 62vw;
  width: 62vw;
  // max-width: 1200px;
  // max-height: 1200px;
  bottom: -31vw;
  left: 50%;
  transform: translate(-50%, 0%);

  .nav_circle_line {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      width: 100%;
      height: 100%;
    }

    .text {
      fill: $white;
      font-weight: 700;
      position: relative;
      font-size: 8px;
      letter-spacing: 2px;
      background: transparent;
      border: none;
      transition: 0.3s;
      cursor: pointer;
      display: flex;

      &:hover {
        fill: #FFA629;
      }

      &.active {
        opacity: 1;
        fill: #FFA629;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.progress_nav {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border: 1px solid rgba($white , 0.6);
  border-radius: 50%;
  height: 44vw;
  width: 44vw;
  bottom: -22vw;
  left: 50%;
  transition: 0.5s ease;

  span {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: -12.5px;
    width: 25px;
    height: 25px;
    background: $white;
    border-radius: 50%;
    display: block;
  }

}

.decor_line {
  position: absolute;
  bottom: 0;
  z-index: 51;
  border: 1px solid rgba($white , 0.3);
  border-radius: 50%;
  height: 41vw;
  width: 41vw;
  bottom: -20.5vw;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%, 0%);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.inner_line {
  width: 93%;
  height: 93%;
  opacity: 1;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 2px solid rgba($white , 0.6);
  border-radius: 50%;
  transition: 0s;

  // transition-delay: 0.3s;
  &:before {
    content: "";
    width: 97%;
    height: 97%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid rgba($white , 0.6);
    border-radius: 50%;
    // transition: 0.5s;
    transition: 0s;
    transition-delay: 0.2s;
  }

  &:after {
    content: "";
    width: 94%;
    height: 94%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid rgba($white , 0.6);
    border-radius: 50%;
    // transition: 0.5s;
    transition: 0s;
    transition-delay: 0.1s;

  }

  span {
    width: 91%;
    height: 91%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid rgba($white , 0.6);
    border-radius: 50%;
    // transition: 0.5s;
    transition: 0s;
    transition-delay: 0s;


    &:before {
      content: "";
      width: 97%;
      height: 97%;
      opacity: 1;
      position: absolute;
      pointer-events: none;
      z-index: -1;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 1px solid rgba($white , 0.6);
      border-radius: 50%;
      // transition: 0.5s;
      transition: 0s;
      transition-delay: 0s;

    }

    &:after {
      content: "";
      width: 94%;
      height: 94%;
      opacity: 1;
      position: absolute;
      pointer-events: none;
      z-index: -1;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 1px solid rgba($white , 0.6);
      border-radius: 50%;
      // transition: 0.5s;
      transition: 0s;
      transition-delay: 0s;

    }
  }
}

.current_page_href {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  display: block;
  left: 35px;
  top: 35px;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  overflow: hidden;
}

// .each-slide>div {
//   width: auto !important;
// }

.hovered {
  .decor_line {
    border: 1px solid rgba($white , 0);
  }

  .current_slider {
    .circle_images {
      opacity: 0.7;
    }

    .inner_line {
      width: 112%;
      height: 112%;
      border: 1px solid rgba($white , 0);
      transition: width 0.6s, height 0.6s, opacity 0.8s;
      transition-delay: 0s;

      &::before {
        width: 100%;
        height: 100%;
        // transition-delay: 0.2s;
        opacity: 0;
        transition: width 0.5s, height 0.5s, opacity 0.8s;
        transition-delay: 0.3s;
      }

      &::after {
        width: 100%;
        height: 100%;
        // transition-delay: 0.3s;
        opacity: 0;
        transition: width 0.5s, height 0.5s, opacity 0.8s;
        transition-delay: 0.4s;
      }

      span {
        width: 100%;
        height: 100%;
        border: 1px solid rgba($white , 0);
        transition: width 0.5s, height 0.5s, opacity 0.8s;
        transition-delay: 0.4s;

        &::before {
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: width 0.5s, height 0.5s, opacity 0.8s;
          transition-delay: 0.3s;
          // transition-delay: 0.2s;
        }

        &::after {
          width: 100%;
          height: 100%;
          opacity: 0;
          // transition-delay: 0.3s;
          transition: width 0.5s, height 0.5s, opacity 0.8s;
          transition-delay: 0.5s;
        }
      }
    }
  }
}

.circle_images {
  position: absolute;
  bottom: 0;
  z-index: 2;
  border-radius: 50%;
  height: 39vw;
  width: 39vw;
  bottom: -19.5vw;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, 0%);

  img {
    width: 100%;
  }

}

.decor_list {
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  li {
    position: absolute;
    // transition: 0.3s;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &.restaurant_list {
    li:first-child {
      bottom: 2rem;
      left: 4rem;
    }

    li:nth-child(2) {
      bottom: 11rem;
      left: 21rem;
    }

    li:nth-child(3) {
      top: 24rem;
      left: 26rem;
    }

    li:nth-child(4) {
      top: 16rem;
      left: 7rem;
    }

    li:nth-child(5) {
      bottom: 1rem;
      right: 5rem;
    }

    li:nth-child(6) {
      bottom: 17rem;
      right: 15rem;
    }

    li:nth-child(7) {
      top: 16rem;
      right: 3rem;
    }
  }

  &.cafe_list {
    li:first-child {
      bottom: 3rem;
      left: 5rem;
    }

    li:nth-child(2) {
      bottom: 8rem;
      left: 8rem;
    }

    li:nth-child(3) {
      bottom: 16rem;
      left: 24rem;
    }

    li:nth-child(4) {
      bottom: 17rem;
      left: 1rem;
    }

    li:nth-child(5) {
      bottom: 26rem;
      left: 25rem;
    }

    li:nth-child(6) {
      top: 14rem;
      left: 3rem;
    }

    li:nth-child(7) {
      right: 6rem;
      bottom: 5rem;
    }

    li:nth-child(8) {
      bottom: 10rem;
      right: 8rem;
    }

    li:nth-child(9) {
      right: 15rem;
      bottom: 13rem;
    }

    li:nth-child(10) {
      right: 13rem;
      top: 28rem;
    }

    li:nth-child(11) {
      top: 14rem;
      right: 3rem;
    }
  }

  &.food_list {
    li:first-child {
      bottom: 6rem;
      left: 10rem;
    }

    li:nth-child(2) {
      bottom: 18rem;
      left: 3rem;
    }

    li:nth-child(3) {
      bottom: 23rem;
      left: 27rem;
    }

    li:nth-child(4) {
      bottom: 28rem;
      left: 6rem;
    }

    li:nth-child(5) {
      bottom: 6rem;
      right: 8rem;
    }

    li:nth-child(6) {
      bottom: 22rem;
      right: 27rem;
      transform: rotate(266deg);
    }

    li:nth-child(7) {
      right: 13rem;
      bottom: 27rem;
    }

    li:nth-child(8) {
      top: 14rem;
      right: 4rem;
      transform: rotate(230deg);
      scale: 0.8;
    }
  }

  &.bar_list {
    li:first-child {
      bottom: 5rem;
      left: 10rem;
    }

    li:nth-child(2) {
      bottom: 20rem;
      left: 22rem;
    }

    li:nth-child(3) {
      top: 16rem;
      left: 7rem;
    }

    li:nth-child(4) {
      bottom: 4rem;
      right: 8rem;
    }

    li:nth-child(5) {
      bottom: 22rem;
      right: 24rem;
    }

    li:nth-child(6) {
      bottom: 34rem;
      right: 8rem;
      transform: rotate(300deg);
    }
  }
}

.slide_list {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 590px;

  >.each-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    background-size: cover !important;

    &.current_slider {
      opacity: 1;
      transition: 0.3s ease;
      pointer-events: all;
    }
  }
}

$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #3949AB;
$pan-color-dark: #5C6BC0;
$loader-color: #FDD835;

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }

  10% {
    left: 0%;
    transform: rotate(0deg);
  }

  20% {
    width: 0%;
    left: 20%;
  }

  30% {
    width: 25%;
  }

  50% {
    left: 15%;
    width: 35%;
  }

  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }

  90% {
    width: 30%;
    left: 10%;
  }

  100% {
    width: 15%;
    left: 20%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }

  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }

  50% {
    width: 40%;
    left: 20px;
  }

  100% {
    width: 30%;
  }
}

.loader_section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgb(5, 11, 49);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  margin: 30px;
  position: relative;
  z-index: 9;
  top: -70px;

  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }

  .pan-container {
    display: flex;
    width: 100%;
    animation: pan $timing infinite;
  }

  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}

@media (max-width: 1600px) {
  .slide_titile {
    font-size: 28px;
    line-height: 35px;
  }

  .slide_description {
    font-size: 16px;
    line-height: 32px;
    margin-top: 25px;
  }

  .gsap_section {
    margin-top: 30px;
  }

  .decor_list {
    li img {
      width: 90%;
    }

    &.restaurant_list li {
      &:first-child {
        bottom: 1rem;
        left: 2rem;
      }

      &:nth-child(2) {
        left: 15rem;
      }

      &:nth-child(3) {
        top: 26rem;
        left: 18rem;
      }

      &:nth-child(4) {
        top: 14rem;
        left: 3rem;
      }

      &:nth-child(5) {
        bottom: 1rem;
        right: 3rem;
      }

      &:nth-child(6) {
        bottom: 16rem;
        right: 12rem;
      }

      &:nth-child(7) {
        top: 16rem;
        right: 1rem;
      }
    }

    &.cafe_list {
      li:first-child {
        bottom: 2rem;
        left: 4rem;
      }

      li:nth-child(2) {
        bottom: 7rem;
        left: 6rem;
      }

      li:nth-child(3) {
        bottom: 15rem;
        left: 18rem;
      }

      li:nth-child(4) {
        bottom: 15rem;
        left: 1rem;
      }

      li:nth-child(5) {
        bottom: 23rem;
        left: 23rem;
      }

      li:nth-child(6) {
        top: 10rem;
        left: 1rem;
      }

      li:nth-child(7) {
        right: 4rem;
        bottom: 2rem;
      }

      li:nth-child(8) {
        bottom: 5rem;
        right: 2rem;
      }

      li:nth-child(9) {
        right: 9rem;
        bottom: 4rem;
      }

      li:nth-child(10) {
        right: 10rem;
        top: 26rem;
      }

      li:nth-child(11) {
        top: 12rem;
        right: 0rem;
      }
    }

    &.food_list {
      li:first-child {
        bottom: 3rem;
        left: 5rem;
      }

      li:nth-child(2) {
        bottom: 16rem;
        left: 2rem;
      }

      li:nth-child(3) {
        bottom: 20rem;
        left: 21rem;
      }

      li:nth-child(4) {
        bottom: 26rem;
        left: 0rem;
      }

      li:nth-child(5) {
        bottom: 3rem;
        right: 4rem;
      }

      li:nth-child(6) {
        bottom: 19rem;
        right: 18rem;
      }

      li:nth-child(7) {
        right: 6rem;
        bottom: 24rem;
      }

      li:nth-child(8) {
        top: 10rem;
        right: 1rem;
      }
    }

    &.bar_list {
      li:first-child {
        bottom: 3rem;
        left: 4rem;
      }

      li:nth-child(2) {
        bottom: 17rem;
        left: 15rem;
      }

      li:nth-child(3) {
        top: 13rem;
        left: 3rem;
      }

      li:nth-child(4) {
        bottom: 1rem;
        right: 5rem;
      }

      li:nth-child(5) {
        bottom: 16rem;
        right: 18rem;
      }

      li:nth-child(6) {
        bottom: 33rem;
        right: 1rem;
      }
    }
  }
}



@media (max-width: 1440px) {
  .welcome_page {
    margin-top: -60px;
  }
  .welcome_info {
    top: 105px;
    max-width: 1000px;
  }
  .decor_list li img {
    width: 70%;
  }

  .slide_titile {
    font-size: 24px;
    line-height: 30px;
  }

  .slide_description {
    font-size: 14px;
    line-height: 26px;
    margin-top: 15px;
    max-width: 850px;
  }

  .decor_list {

    &.restaurant_list li {

      li:nth-child(2) {
        left: 16rem;
        bottom: 10rem;
      }

      &:nth-child(3) {
        top: 15rem;
        left: 6rem;
      }

      &:nth-child(4) {
        top: 7rem;
        left: 1rem;
      }

      &:nth-child(7) {
        top: 10rem;
        right: 1rem;
      }
    }

    &.cafe_list {
      li:first-child {
        bottom: 2rem;
        left: 4rem;
      }

      li:nth-child(6) {
        top: 6rem;
        left: 1rem;
      }

      li:nth-child(7) {
        right: 3rem;
        bottom: 5rem;
      }

      li:nth-child(8) {
        bottom: 15rem;
        right: 2rem;
      }

      li:nth-child(9) {
        right: 4rem;
        bottom: 6rem;
      }

      li:nth-child(10) {
        right: 5rem;
        top: 21rem;
      }

      li:nth-child(11) {
        top: 6rem;
        right: 0rem;
      }
    }

    &.food_list {

      li:nth-child(5) {
        bottom: 1rem;
        right: 2rem;
      }

      li:nth-child(6) {
        bottom: 16rem;
        right: 15rem;
      }

      li:nth-child(8) {
        top: 6rem;
        right: 1rem;
      }
    }

    &.bar_list {
      li:first-child {
        bottom: 2rem;
        left: 2rem;
      }

      li:nth-child(3) {
        top: 9rem;
        left: 2rem;
      }

      li:nth-child(4) {
        bottom: 1rem;
        right: 1rem;
      }

      li:nth-child(6) {
        bottom: auto;
        right: 1rem;
        top: 6rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  .slide_description {
    max-width: 670px;
  }

  .decor_list.restaurant_list li:nth-child(7) {
    top: 7rem;
    right: -2rem;
  }

  .decor_list li img {
    width: 60%;
    opacity: 0.8;
  }
}

@media (max-width: 991px) {
  .slide_description {
    max-width: 510px;
  }
}

@media (max-width: 767px) {
  .welcome_page {
    margin-top: 0;
  }
}

@media (max-height: 630px) {
  .welcome_page .welcome_info {
    top: 90px;
    max-width: 1000px;
  }

  .gsap_section {
    margin-top: 20px;
  }

  .circle_images {
    bottom: -22.5vw;
  }

  .navigation_circle {
    bottom: -34vw;
  }

  .progress_nav {
    bottom: -25vw;
  }

  .decor_line {
    bottom: -23.5vw;
  }
}


@media (max-width: 1199px) and (min-height: 1023px) {
  .circle_images {
    height: 70vw;
    width: 70vw;
    bottom: auto;
    top: 35%;
  }

  .decor_line {
    height: 75vw;
    width: 75vw;
    bottom: auto;
    top: 33%;
  }

  .progress_nav {
    height: 80vw;
    width: 80vw;
    bottom: auto;
    top: 31%;
  }

  .navigation_circle {
    height: 115vw;
    width: 115vw;
    bottom: auto;
    top: 18%;
  }

  .slide_list .decor_list li {

    &:first-child {
      bottom: 2rem;
      left: 7rem;
      right: auto;
      top: auto;
    }

    &:nth-child(2) {
      left: 2rem;
      right: auto;
      bottom: 12rem;
      top: auto;
    }

    &:nth-child(3) {
      top: 19rem;
      left: 5rem;
      right: auto;
      bottom: auto;
    }

    &:nth-child(4) {
      top: 6rem;
      left: 1rem;
      right: auto;
      bottom: auto;
    }

    &:nth-child(5) {
      bottom: 2rem;
      top: auto;
      right: 4rem;
      left: auto;
    }

    &:nth-child(6) {
      bottom: 11rem;
      top: auto;
      right: 0rem;
      left: auto;
    }

    &:nth-child(7) {
      top: 6rem;
      right: -3rem;
      left: auto;
      bottom: auto;
    }

    &:nth-child(8) {
      top: 20rem;
      right: 5rem;
      left: auto;
      bottom: auto;
    }
  }
}

@media (max-width: 991px) and (min-height: 1023px) {
  .welcome_page .welcome_info {
    top: 95px;
  }

  .slide_description {
    font-size: 12px;
    line-height: 16px;
  }

  .gsap_section {
    margin-top: 20px;
  }
}


@media (max-width: 575px) {
  .welcome_page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100svh;
  }

  .slide_list {
    height: auto;
    min-height: 900px;
  }

  .decor_list li img {
    width: 45%;
  }

  .slide_titile {
    font-size: 18px;
    line-height: 21px;
  }

  .slide_description {
    font-size: 12px;
    line-height: 21px;
    padding: 0 20px;
    margin-top: 15px;
  }

  .welcome_page .welcome_info {
    top: 25px;
  }

  .gsap_section {
    margin-top: 20px;
  }

  .gsap_section .button {
    padding: 8px 15px;
    font-size: 12px;
  }

  .circle_images {
    top: 360px;
    width: 300px;
    height: 300px;
  }

  .decor_line {
    top: 350px;
    width: 320px;
    height: 320px;
  }

  .progress_nav {
    top: 335px;
    width: 350px;
    height: 350px;
  }

  .progress_nav span {
    top: -9.5px;
    width: 15px;
    height: 15px;
  }

  .navigation_circle {
    top: 250px;
    width: 520px;
    height: 520px;
  }

  .navigation_circle .nav_circle_line .text {
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .slide_list .decor_list {
    li {
      &:first-child {
        bottom: 4rem;
        left: 3rem;
        right: auto;
        top: auto;
      }

      &:nth-child(2) {
        left: 3rem;
        right: auto;
        bottom: 12rem;
        top: auto;
      }

      &:nth-child(3) {
        top: 12rem;
        left: 2rem;
        right: auto;
        bottom: auto;
      }

      &:nth-child(4) {
        top: 0rem;
        left: 0rem;
        right: auto;
        bottom: auto;
      }

      &:nth-child(5) {
        bottom: 5rem;
        top: auto;
        right: -5rem;
        left: auto;
      }

      &:nth-child(6) {
        bottom: auto;
        top: 11rem;
        right: -6rem;
        left: auto;
      }

      &:nth-child(7) {
        top: 0rem;
        right: -6rem;
        left: auto;
        bottom: auto;
      }

      &:nth-child(8) {
        top: auto;
        right: -11rem;
        left: auto;
        bottom: 11rem;
      }

      &:nth-child(9) {
        right: -12rem;
        bottom: 4rem;
        left: auto;
        top: auto;
      }

      &:nth-child(10) {
        right: 1rem;
        top: 19rem;
      }

      &:nth-child(11) {
        top: -1rem;
        right: -6rem;
      }
    }
  }
}

@media (max-width: 399px) {
  .navigation_circle {
    top: 301px;
    width: 420px;
    height: 400px;
  }

  .progress_nav {
    top: 365px;
    width: 270px;
    height: 270px;
  }

  .circle_images {
    top: 390px;
    width: 220px;
    height: 220px;
  }

  .decor_line {
    top: 378px;
    width: 245px;
    height: 245px;
  }

  .slide_list .decor_list {
    li {
      &:first-child {
        bottom: 5rem;
        left: 2rem;
        right: auto;
        top: auto;
      }

      &:nth-child(2) {
        left: 3rem;
        right: auto;
        bottom: 12rem;
        top: auto;
      }

      &:nth-child(3) {
        top: 15rem;
        left: 1rem;
        right: auto;
        bottom: auto;
      }

      &:nth-child(4) {
        top: -1rem;
        left: 0rem;
        right: auto;
        bottom: auto;
      }

      &:nth-child(5) {
        bottom: 5rem;
        top: auto;
        right: -4rem;
        left: auto;
      }

      &:nth-child(6) {
        bottom: auto;
        top: 18rem;
        right: -5rem;
        left: auto;
      }

      &:nth-child(7) {
        top: 0rem;
        right: -6rem;
        left: auto;
        bottom: auto;
      }

      &:nth-child(8) {
        top: auto;
        right: -11rem;
        left: auto;
        bottom: 11rem;
      }

      &:nth-child(9) {
        right: -12rem;
        bottom: 4rem;
        left: auto;
        top: auto;
      }

      &:nth-child(10) {
        right: -1rem;
        top: 13rem;
      }

      &:nth-child(11) {
        top: -1rem;
        right: -6rem;
      }
    }
  }

}