@import "../variables";
@import "../mixins";


.restaurantInner{
    .reservation_section .currResName_btn{
        display: none;
    }
    .inner_cover{
        position: relative;
        width: 100%;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: center;
        >div{
            width: 100%;
            height: 100%;
            overflow: hidden;
            ul{
                width: 100%;
                height: 100%;
            }
            li{
                width: 100%;
                height: 100%;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .gallery_list{
        li{
            display: none;
            &:first-child{
                display: block !important;
            }
        }
    }
    .gallery_btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160px;
        height: 44px;
        border: 1px solid #006855;
        color: #006855;
        font-size: 16px;
        line-height: 24px;
        background: #EBEBEB;
        border-radius: 4px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        font-family: $medium;
        justify-content: center;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
    .section_title{
        font-size: 32px;
        line-height: 48px;
        color: #3B3B3B;
        font-family: $bold;
        margin-bottom: 45px;
        text-align: center;
    }
    .inner_section{
        margin-top: 60px;
    }

    .commets_slider{
        margin-top: 20px;
        .slick-slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .commets_block{
            margin: 0 auto !important;
            width: 220px !important;
        }
    }
    .userNamer{
        font-size: 16px;
        line-height: 21px;
        font-family: $bold;
        margin-top: 10px;
        color: $black;
    }
    .user_comment{
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-top: 10px;
    }
    .rest_rate{
        display: flex;
        margin-top: 10px;
        align-items: center;
        >span{
            color: #F0961C;
            font-size: 20px;
            margin-right: 2px;
        }
    }

    .slick-dots {
        margin-top: 25px;
        position: relative;
        li {
            margin: 0 2px;
            opacity: 0.7;
            button:before {
                font-family: 'slick';
                font-size: 12px;
                line-height: 12px;
                transition: 0.3s;
            }
        } 
    } 
    .section_description{
        font-size: 18px;
        line-height: 36px;
        font-family: $medium;
        color: $black;
        opacity: 0.8;
        text-align: center;
    }
    .Map_container{
        display: flex;
        align-items: center;
        justify-content: center;
        .container{
            width: 100%;
            max-width: 900px;
            height: 410px;
        }
    }
    .section_menu{
        max-width: 900px;
        width: 100%;
        margin: 50px auto;
    }
    .section_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            display: block;
            color: #3B3B3B;
            font-size: 30px;
            font-family: $bold;
            line-height: 41px;
        }
    }
    .filter_block{
        border-radius: 4px;
        border: 1px solid #2E8374;
        height: 44px;
    }
    .fileter_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        .hamburger-react{
            position: relative;
            top: -2px;
        }
        span{
            margin-left: 5px;
            font-size: 16px;
            display: block;
            line-height: 24px;
            font-family: $medium;
            color: #474747;
        }
    }
    .filter_container{
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 1px;
        justify-content: space-between;
    }
    .search_block{
        border-radius: 4px;
        border: 1px solid #2E8374;
        height: 44px;
        width: 100%;
        overflow: hidden;
        input{
            outline: none;
            border: none;
            font-family: $medium;
            color: #8B8B8B;
            padding: 0 20px;
            height: 100%;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
        }
    }
    .search_btn{
        border-radius: 4px;
        border: 1px solid #006855;
        height: 44px;
        overflow: hidden;
        min-width: fit-content;
        button{
            width: 160px;
            height: 100%;
            background: #006855;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: none;
            cursor: pointer;
            border: none;
        }
    }
    .menu_list{
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 25px;
    }
    .menu_block{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 35px;
    }
    .image_block{
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1 !important;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover{
            .image_btn{
                opacity: 1;
            }
        }
    }
    .image_btn{
        position: absolute;
        width: 55px;
        height: 55px;
        background: rgba(194, 219, 214, 0.50);
        color: $white;
        font-size: 20px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        opacity: 0;
        border-radius: 50%;
        justify-content: center;
    }
    .menu_inner{
        position: relative;
        padding-top: 25px;
    }
    .card_btn{
        position: absolute;
        right: 0;
        top: 0;
        width: 38px;
        height: 38px;
        border-radius: 4px;
        background: rgba($siteGreen , 0.2);
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba($siteGreen , 0.8);
        &:before{
            font-size: 24px !important;
        }
    }
    .menu_price{
        font-size: 18px;
        line-height: 23px;
        color: #323232;
    }
    .menu_name{
        margin-top: 20px;
        font-family: $bold;
        color: $black;
    }
    .menu_desc{
        margin-top: 30px;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        max-width: 150px;
    }
    .mapInner_section{
        height: 400px;
    }
    .contacts_section{
        margin: 50px 0;
    }
    .contacts_form{
        width: 100%;
        position: relative;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }
    }
    .block_label{
        font-size: 18px;
        line-height: 24px;
        color: #686868;
        margin-bottom: 5px;
        font-family: $medium;
    }
    .form-block{
        width: 100%;
        padding-bottom: 20px;
        position: relative;
        input{
            width: -webkit-fill-available;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #91BEB6;
            background: #E6F0EE;
            box-shadow: none;
            outline: none;
            transition: 0.3s;
            padding: 0 20px;
            color: #006855;
            font-size: 14px;
            font-family: $light;
        }
        .error-info {
            bottom: -5px;
        }
    }
    .send-btn{
        background: #E33441;
        margin-left: auto;
        grid-column-start: 1;
        grid-column-start: 2;
        border: none;
        border-radius: 4px;
        transition: 0.3s;
        font-family: $medium;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }

    @media (max-width: 1440px) {
        .reservation_name {
            font-size: 28px;
            line-height: 40px;
        }
        .reservation_description {
            margin-top: 10px;
            font-size: 16px;
            line-height: 29px;
            max-width: 870px;
        }
    }

    @media (max-width: 991px) {
        .reservation_section {
            padding: 30px;
            height: auto;
        }
        .reservation_name {
            font-size: 22px;
            line-height: 34px;
        }
        .reservation_description {
            font-size: 14px;
            line-height: 24px;
        }
        .reservation_info {
            margin-bottom: 30px;
        }
        .inner_cover {
            height: 300px;
        }
        .inner_section {
            margin-top: 30px;
        }
        .section_title {
            font-size: 26px;
            line-height: 37px;
            margin-bottom: 30px;
        }
        .slick-dots {
            margin-top: 15px;
        }
        .commets_slider {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .commets_slider .commets_block {
            margin: 0 auto !important;
            max-width: 300px !important;
            width: 90% !important;
        }
        .section_description {
            font-size: 16px;
            line-height: 29px;
        }
        .section_list a {
            font-size: 22px;
            line-height: 25px;
        }
        .menu_block {
            gap: 15px;
        }
        .menu_name {
            margin-top: 10px;
        }
        .menu_price {
            font-size: 16px;
            line-height: 21px;
        }
        .menu_desc {
            margin-top: 10px;
            font-size: 14px;
            line-height: 18px;
        }
        .menu_inner {
            padding-right: 30px;
        }
        .menu_list {
            margin-top: 30px;
            gap: 15px;
        }
        .card_btn {
            right: -5px;
            top: 30px;
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
    }
    @media (max-width: 575px) {
        .reservation_section {
            padding: 20px 0;
        }
        .filter_container {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            > div{
                width: 100%;
                margin-bottom: 10px;
                button{
                    width: 100%;
                }
            }
        }
        .section_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            a {
                width: -webkit-fill-available;
                font-size: 14px;
                line-height: 25px;
                padding: 5px;
                color: $white;
                margin-bottom: 0;
                border: 1px solid #006855;
                white-space: nowrap;
                text-align: center;
                color: $white;
                border-radius: 4px;
                background: #006855;
            }
        }
        .commets_slider .commets_block {
            margin: 0 auto !important;
            max-width: 300px !important;
            width: 100% !important;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .menu_list {
            grid-template-columns: 1fr;
        }
        .contacts_form form {
            display: block;
        }
        .send-btn {
            width: 100%;
            max-width: none;
            margin-top: 25px;
        }
        .block_label {
            font-size: 14px;
            line-height: 19px;
        }
    }
}
